<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="cmnt.css">
</head>

<body>
    <section id="app">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="comment">
                        <p v-for="items in item" v-text="items"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem"
                        @keyup.enter="addItem()"></textarea>
                    <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add
                        Comment</button>
                </div>
            </div>
        </div>
    </section>

    <!-- Vue JS -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>

    <script>
        $(document).ready(function () {

            $(".primaryContained").on('click', function () {
                $(".comment").addClass("commentClicked");
            });//end click
            $("textarea").on('keyup.enter', function () {
                $(".comment").addClass("commentClicked");
            });//end keyup
        });//End Function

        new Vue({
            el: "#app",
            data: {
                title: 'Add a comment',
                newItem: '',
                item: [],
            },
            methods: {
                addItem() {
                    this.item.push(this.newItem);
                    this.newItem = "";
                }
            }

        });
    </script>


</body>

</html>